
{% extends '../layouts/layout.twig' %}

{% block title %}Contact{% endblock %}

{% block page_heading %}Contact{% endblock %}

{% block content %}
  <div class="container">
    <p>This is the Contact Page</p>
    <form>
      <fieldset>
        <legend>General information</legend>
        <div class="input">
          <label>Name</label>
          <input type="text" name="name" value="">
        </div>
        <div class="input">
          <label>Lastname</label>
          <input type="text" name="lastname" value="">
        </div>
        <div class="textarea">
          <label>Add some comments</label>
          <textarea name=""></textarea>
        </div>
        <div class="submit">
          <input type="submit" name="submit" value="Submit">
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}

{% block content_sidebar %}{% endblock %}