{% block sidebar %}
<nav>
  <ul>
    <li><a href="#">Sidebar nav link 1</a></li>
    <li><a href="#">Sidebar nav link 1</a></li>
    <li><a href="#">Sidebar nav link 1</a></li>
    <li><a href="#">Sidebar nav link 1</a></li>
    <li><a href="#">Sidebar nav link 1</a></li>
  </ul>
  <div class="advert-block">
    Advertising
  </div>
</nav>
{% endblock %}