// Index header.

header {
  margin: rem(20px) 0;
}

.index-header {
  background-color: $header;

  .logo {
    @include span(last 2);

    @include susy-media(tablet) {
      @include span(last 4 of 8);
    }

    @include susy-media(desktop) {
      @include span(last 2 of 12);
    }

    svg {
      width: 100%;
    }
  }

  h1 {
    @include span(2);
    overflow: hidden;

    @include susy-media(tablet) {
      @include span(4 of 8);
    }

    @include susy-media(desktop) {
      @include span(4 of 12);
    }
  }
}