.main-menu {
  text-align: center;
  border-top: 1px solid #000;
  margin: rem(10px 0);

  @include susy-media(tablet) {
    @include clearfix;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: rem(10px 0);
  }

  li {
    display: block;
    margin-top: rem(5px);
    margin-bottom: rem(5px);
    border-bottom: 1px solid #000;
    padding-bottom: rem(10px);

    @include susy-media(tablet) {
      float: left;
      margin: rem(0 20px 0 0);
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
