
//Breakpoints definition

// Mobile first.
$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-wide: 1280px;
$desktop-superwide: 1440px;

// Grid variables
$container-margin: 10px;

$column-mobile: 4;
$column-tablet: 8;
$column-desktop: 12;